<!DOCTYPE html>
<html lang="en">

  <%- include('layout/header'); -%>

<body>

  <!-- Navigation -->
  <%- include('layout/navbar'); -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/s1.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Alone</h1>
            <span class="subheading">This is what we do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Alone is a popular blogging site where people share their experience of life with the world
        Your Data is safe and it is responsibility of the Alone to maintain it properly and securely.
        We change the way how world thinks and are trusted by thousands of blogger in the world</p>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <%- include('layout/footer'); -%>

  <!-- Bootstrap core JavaScript -->
  <%- include('layout/script'); -%>

</body>

</html>
